
.contenedor-fluido {
    display: flex;
    flex-direction: row;
  }

  /* MEDIA QUERIES 568PX */
  @media (max-width: 568px) {
    .contenedor-fluido {
      flex-direction: column;
      align-items: center; 
      margin-top: 15px;
    }

    .contenido1 {
      width: 100%;
      
    }
  }
  