#hero {
  height: 550px;
  background-image: url('/src/assets/img/banner_hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  /* mask-image: linear-gradient(white 80%, transparent); */
  /* background-color: #ccffbc; */
  background-color: #c7cec0;
  display: flex;
  align-items: flex-end;
  text-shadow: 2px 3px 6px rgba(0,0,0,0.51);
  .textHero{
    color: rgb(235, 235, 235);
  }
.button {
  margin-bottom: 4rem;
}
  h1 {
    font-size: 56px;
    margin-bottom: 4rem;
  }

  h5{
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
}

