
.container-fluid {
    display: flex;
    flex-direction: row;
  }
  

  .filtros {
    width: 250px;
    flex-shrink: 0;
  }
  
  /* MEDIA QUERIES 568PX */
  @media (max-width: 568px) {
    .container-fluid {
      flex-direction: column;
      align-items: center; 
      margin-top: 15px;
    }
  
    .filtros {
      width: 100%;
      max-width: 500px; 
      
    }
  
    .contenido {
      width: 100%;
      
    }
  }
  