.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
}

.sidebar {
  width: 360px !important;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control, .form-select {
  margin-bottom: 15px;
  width: 100%;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .sidebar {
    width: 100% !important;
  }
}