nav a {
  color: #FFF;
  text-decoration: none;
  padding: 8px;
}

nav a.active {
  color: #f2c42f
}

.iconSearch{
  &:hover{
    cursor: pointer;
    background-color: #00753f;
    color: white;
  }
}