.footer{

    .section_padding {
        padding: 4rem 4rem;
        display: flex;
        flex-direction: column;

        .footer-links{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            text-align: left;
            margin-bottom: 2rem;
        
            .footer-links-div{
                width: 150px;
                margin: 1rem;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                color: white;
        
                .fake-link{
                    color: rgb(230, 230, 230);
                    text-decoration: none;
                    &:hover{
                        cursor: pointer;
                        color: #FFD15C;
                        text-decoration: underline;
                    }
                }
        
                img{
                    width: 100%;
                }
        
                h4{
                    font-size: 16px;
                    line-height: 17px;
                    margin-bottom: 1rem;
                }
        
                p{
                    font-size: 14px;
                    line-height: 16px;
                }
        
                .redes-sociales{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 15px;

                    p{
                        img{
                            width: 20px;
                            height: 20px;
                            transform: rotate(0deg) scale(1);
                            transition: 500ms;
                            &:hover{
                                transform: rotate(360deg) scale(1.5);
                                transition: transform 500ms ease-in-out;
                                cursor: pointer;
                            }
                        }
                    }
                    

                }
            }
        }

        hr {
            color: white !important;
            width: 100%;
        }

        .footer-below {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 0.2rem;
        
            .footer-copyright{
                p{
                    font-size: 15px;
                    line-height: 15px;
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
}

/* MEDIA QUERYS */
@media screen and (max-width: 550px) {

    .footer-links div{
        margin: 1rem 0;
    }

    .footer-below{
        flex-direction: column;
        justify-content: left;
    }
}




