.links-perfil{
  display: flex;
  flex-direction: column;
  text-align: left;


  a {
    text-decoration: none;
    padding: 16px 8px;
    color: #313131;
  }

  a:hover{
    background-color: rgba(0, 0, 0, 0.02);
  }

  a.side-active {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.05);

  }
}

.avatar-perfil {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}